button.fbtn:hover:not(:disabled) {
    filter: brightness(85%);
    cursor: pointer;
}

button.fbtn {
    display: inline-flex;
    align-items: center;
    
    background-color: lightgray;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    font-family: inherit;
    border: 1px solid black;
}

button.fbtn.fbtn-primary {
    background-color: blue;
}

button.fbtn.fbtn-secondary {
    background-color: gray;
}

button.fbtn.fbtn-success {
    background-color: rgb(74, 235, 101);
    color: white;
}

button.fbtn.fbtn-danger {
    background-color: red;
}

button.fbtn.fi {
    font-style: italic;
}

button.fbtn.fb {
    font-weight: bold;
}

button.fbtn.strange {
    position: relative;
}

/* Выключенная кнопочка */
button.fbtn:disabled {
    background-color: white;
    color: lightgray;
}

.mb-auto {
    margin-bottom: auto;
}

.fs-2 {
    font-size: 2em;
}