.pagination-container {
    display: flex;
    justify-content: space-between;
}

#news-cards-container {
    font-size: 1em;
}

.draft-card h1 {
    color: black;
    font-size: 1.5em;
    padding: 5px;
}

.draft-card {
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 130px;
}

.draft-card .draft-card-preview:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 2px;
    filter: brightness(95%);
}