* , *:before, *:after{ 
  box-sizing:border-box; 
}

:root {
  --main-bg-color: rgb(254, 251, 246);
  --main-bg-2: rgb(229, 223, 205);
}

html {
  /* фон мазайка */
  background: url('./assets/pattern-alpha.png') var(--main-bg-color);
  
  
  /* фон черепаха с высоким уровнем прозрачности, расположенный в правой части и идущий сверху вниз */
  /* background: repeat-y right url('./assets/turtle-alpha-big.png'); */
  background-color: var(--main-bg-2);
}

body {
  background-color: rgba(255,255,255,0.85);
}

h3 {
  padding: 0px 10px;
}

main {
  min-height: 600px;
}

main {
  background: no-repeat center center url('./assets/turtle-alpha-big.png');/*, var(--main-bg-color);*/
  background-size: contain;
}

* {
  color: black;
}

.c-container {
  padding: 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-container a {
  text-decoration: none;
}


.gallery-container figure {
  margin: 10px;
  text-align: center;
}

.gallery-container a:hover {
  background-color: pink;
}

.gallery-container figcaption {
  font-size: 1.2em;
  color: black;
  background-color: pink;
  padding: 5px 3px;
}


body {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: pink;
  border-radius: 0 0 10px 10px;
}


#branding {
  position: relative;
}

#front-page, aside {
  display: inline-block;
}

#front-page {
  width: 100%;
  display: inline-block
}

#front-page section {
  margin: 10px;
}

.news-card-preview {
  margin: 10px;
  border-bottom: 1px solid black;
  border-radius: 0 0 10px 10px;
}

.news-card-preview.active-side-tab {
  box-shadow: 0px 0px 20px 0px black;
}

.news-card-preview h2, .news-card-preview time, .news-card-preview p {
  padding: 10px;
  margin: 0px;
}

.news-card-preview h2 {
  background-color: pink;
  width: 100%;
  border-bottom: 1px solid black;
}

.news-card-preview time, .news-card-preview p  {
  display: block;
  margin-top: 5px;
}


#branding-content {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  padding: 20px;
  background-color: rgba(255,255,255,0.3);
  color: white;
  display: flex;
  justify-items: center;
}

#branding h1 {
  font-size: 2em;
  color: pink;
  text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 0.2px black;
}

#title-wrap, #logo-wrap {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.n-collapsed {
  margin-right: auto;
  transition: margin-right 1s;
}

.collapsed {
  margin-right: -400px !important;
  transition: margin-right 1s;
}

nav .nav-right {
  margin-left: auto;
  margin-right: 10px;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 1.6em;
}

nav a:hover {
  color: white;
}

.c-fluid-img {
  width: 100%;
  height: auto;
}

.c-max-fluid {
  display: inline;
  max-width: 300px;
  width: 100%;
  height: auto;
}

#main-wrap {
  display: flex;
  overflow-x: hidden;
}

#sidebar-right {
  min-width: 350px;
  display: flex;
  margin-right: 0px;
}

#sidebar-right #side-bar-toggler {
  background-color: pink;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20px;
  display: flex;
  text-align: center;
  align-items: center;
}

#sidebar-right section {
  width: 100%;
}

footer {
  border-radius: 10px 10px 0 0;
  border-top: 2px solid lightpink;
  width: 100%;
  background-color: pink;
  clear: both;
}

address p {
  margin: 0px;
  padding: 10px;
}

#photo-container {
  text-align: center;
  float: left;
  width: 40%;
  min-width: 300px;
}

#photo-container {
  margin: 20px;
}

.italic-center span {
  display: block;
}

.italic-center {
  text-align: center;
  list-style-type: none;
  font-style: italic;
}

figure {
  margin: 0px;
}

#valid-css {
  float: right;
}

#big-img {
  width: 100%;
}

.big-test img {
  width: 100%;
}

.big-test {
  width: 48%;
  display: inline-block;
}

.btn-right {
  display: block;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  margin-left: auto;
}

.left-right-panel {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.left-right-panel div {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  #front-page section {
      width: 100% !important;
      margin: auto;
      text-align: left !important;
  }
}

@media (max-width: 960px) {
  #main-wrap {
    flex-wrap: wrap;
  }

  #front-page {
      width: 100%;
      display: inline-block
  }

  #photo-container {
      float: none;
      width: 100%;
  }

  #photo-container img {
      max-width: 300px;
      height: auto;
  }
  
  aside {
      float: none;
      width: 100%;
  }
}
/******************* кнопка ********************/
.btn-container {
  display: flex;
  justify-content: end;
}

.c-btn {
  background-color: lightgray;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  font-family: inherit;
  border: 1px solid black;
  text-decoration: none;
}

.c-btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}

/******************* форма *********************/
.c-form {
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.7);
}

.c-form div {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-form label {
  color: white;
  display: inline-block;
  width: 130px;
  text-align: right;
  padding-right: 20px;
}

.c-form button {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.c-form button:enabled {
  cursor: pointer;
}

.c-form button:hover:enabled {
  background-color: lightgray;
}

.c-form input {
  padding: 7px 4px;
  border-radius: 5px;
  border: 1px solid white;
}

.c-form .text-area {
  display: flex;
}

.c-form input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.c-danger:enabled {
  background-color: darkred;
  color: white;
}

.c-danger:hover:enabled {
  background-color: red !important;
}


.c-form .text-area textarea {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  min-width: 50%;
}

.c-form .error {
  margin-top: 2px;
  border-radius: 10px;
  color: red;
  width: 100%;
  margin-left: 120px;
  text-shadow: 1px 1px 10px black, 1px 1px 10px black;
}

.form-controls {
  display: flex;
  justify-content: end;
}


/* Темная тема */
.dark, .dark * {
  background-color: rgb(0, 0, 0) !important;
  color: pink !important;
  border-color: white !important;
}

.dark button:disabled {
  color: gray !important;
  border-color: gray !important;
}

.dark button:not(:disabled):hover {
  background-color: gray !important;
}

.dark #branding-content, .dark #branding-content * {
  background-color: rgba(255,255,255,0) !important;
}